# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: ci
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"
      - name: List packages in go workspace
        run: echo "packages=$(go list -f '{{.Dir}}/...' -m | xargs)" >> $GITHUB_OUTPUT
        id: packages
      - name: Build
        run: go build -v ${{steps.packages.outputs.packages}}
      - name: Test
        run: go test -v ${{steps.packages.outputs.packages}}

  build-docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
